# Install torch/torchvision with the CUDA build declared in environment.yml.
accelerate==0.21.0
huggingface-hub==0.16.4
numpy==1.24.4
opencv-python==4.8.1.78
Pillow==10.0.1
pycocotools==2.0.7
scipy==1.11.3
sentencepiece==0.1.99
tensorboard==2.14.1
tqdm==4.66.1
transformers==4.31.0
